<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post-it OthersProfile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        /* Custom styles for the color palette */

        /* google font */
        @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

        .bg-custom-dark {
          background-color: #240A34; /* Dark color */
        }
        .bg-custom-light {
          background-color: #FFEDD8; /* Light color */
        }
        .bg-custom-light2 {
          background-color: #f9dcba; /* Light2 color */
        }
        .bg-custom-lighter-cream {
          background-color: #f3f7f1; /* light Cream color */
        }
        .bg-custom-tan {
          background-color: #DFD3C3; /* Tan color */
        }
        .bg-light-BtnC {
          background-color:  #891652
        }
        .bg-light-BtnCH{
          background-color:  #a0dfa6
        }
        .text-gradient-color{
          background: linear-gradient( #f32170, #ff6b08); 
          background-clip: border-box;
          -webkit-text-fill-color: transparent; 
          -webkit-background-clip: text; 
        }
        .text-custom-dark{
            color:#240A34;
            font-family: "Jost";    
        }
        .text-custom-light{
            color:#FFEDD8;
            font-family: "Jost";    
        }
    </style>

</head>
<body class='bg-custom-light'>
  
    <nav class="w-full bg-custom-dark text-white py-4 px-4 lg:px-10">
      <div class="container mx-auto flex items-center">
        <h1 class="text-3xl font-bold text-gradient-color">Post-It</h1>
        <div class="w-[50px] ml-6">
          <img src="../images/logo_img.png" alt="Logo"/>
        </div>
        <div class="ml-auto text-custom-light text-[20px] border-2 border-[#FFEDD8] hover:border-[#fbc486] hover:text-[#fbc486] rounded-full px-4 py-1">
          <a href="/profile">My Profile</a>
        </div>
      </div>
    </nav>
  
    <!-- Main container div -->
    <div class="w-full min-h-[calc(100vh-75px)] flex flex-col lg:flex-row gap-7 justify-start p-4 lg:p-7">

        <!-- your profile div -->
        <div class="w-full lg:w-3/4 bg-custom-light2 rounded-lg shadow-lg px-4 lg:px-7 py-5">
            <span class="font-medium text-custom-dark text-[30px]">It's Me, <%= othersProfile.name %></span>
            <h1 class="font-normal text-custom-dark text-[20px]">@<%= othersProfile.username %>, Age <%= othersProfile.age %></h1>  

            <div class="w-full h-[1px] bg-custom-dark my-5"></div>

            <!-- View post div-->
            <div class="posts mt-10">
              <h1><span class="font-medium text-custom-dark text-[30px] border-b-4 rounded px-2 border-[#240A34]">My Posts</span></h1>
              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-10">
                <% if (otherUserPosts.length == 0) { %>
                  <h1><span class="font-medium text-custom-dark text-[20px]">No posts yet...</span></h1>
                <% } else { %>
                  <% otherUserPosts.reverse().forEach((post) => { %>
                    <div class="bg-custom-light rounded-lg shadow-md p-4">
                      <img src="/uploads/<%= post.image.data %>" alt="Post Image" class="w-full h-48 object-cover rounded-lg mb-2">
                      <h1 class="text-custom-dark italic text-lg"><%= post.caption %></h1>
                      <% if (!post.likes.includes(userId)) { %>
                        <a href="/likePost/<%= post._id %>"><span class="float-left mt-1 ml-1"><i class="fa-regular fa-heart" style="color: #240A34;"></i></span></a><span class="ml-1 relative top-1"><%= post.likes.length %></span>
                      <% } else { %>
                        <a href="/unLikePost/<%= post._id %>"><span class="float-left mt-1 ml-1"><i class="fa-solid fa-heart" style="color: #ff2929;"></i></span></a><span class="ml-1 relative top-1"><%= post.likes.length %></span>
                      <% } %>
                    </div>
                  <% }) %>
                <% } %>
              </div>  
            </div>
            <!-- View post div end -->

        </div>  
        <!-- your profile div end-->

        <!-- finding friends div -->
        <div class="w-full lg:w-1/4 bg-custom-light2 rounded-lg shadow-lg px-4 lg:px-5 py-5">
            <span class="font-medium text-custom-dark text-[30px] border-b-4 rounded px-2 border-[#240A34]">Find Friends</span>
            <div class="w-full h-full mt-10 flex flex-col items-center gap-2">
              <% otherUser.forEach((user) => { %>
                <a href='/othersProfile/<%= user._id %>' class="w-full bg-custom-light hover:bg-[#ffe9d0] transition duration-3000 rounded shadow-sm py-2 px-4 cursor-pointer">
                  <span class="text-xl font-medium tracking-tight"><%= user.name %></span><span class="float-right">age, <%= user.age %></span>
                  <p class="text-md font-normal tracking-tight">@<%= user.username %></p>
                </a>
              <% }) %>
            </div>
        </div>
        <!-- finding friends div end -->

    </div>
    <!-- Main container div end -->

</body>    
</html>
